.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.wide {
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.col {
    padding: 0 4px;
}
@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 calc(100% / 12 * #{$i});
        max-width: calc(100% / 12 * #{$i});
    }
}
