.image-preview {
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    img {
        width: 100%;
        box-shadow: 0 0 2px #ccc;
    }
}
.list-posts {
    .list-row {
        div {
            flex: 3;
            &:last-child {
                flex: 1;
            }
            &:first-child {
                flex: 5 !important;
            }
        }
    }
}
