.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.form-auth {
    @extend .auth;
    .ant-form-item-control-input-content {
        .ant-btn.ant-btn-primary {
            width: 100%;
        }
    }
}
